:root {
        --primary-color: #0ce0a5;
        --text-color: #333;
}

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 720px;
    background-color: #f5f5f5;
}
.player{
    position: relative;
    max-width: 420px;
    margin: 0 auto;
}
.player .btn-pause{
    display: none  ;
}
.player.playing .btn-pause{
    display: inline-block;
}
.player.playing .btn-play{
    display: none;
}
.dashboar{
    padding: 16px 16px 14px;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    border-bottom: 1px solid #ebebeb;
    background-color: #fff;
}

/* Header */
header{
    text-align: center;
    color: var(--primary-color);
}
header h2{
    color: var(--primary-color);
    font-size: 26px;
}
header h4 {
    color: var(--text-color);
    font-size: 18px;
}

/* CD */
.cd{
    display: flex;
    margin: auto;
    width: 200px;
}
.cd-thumb{
    padding-top: 100%;
    border-radius: 50%;
    width: 100%;
    background-size: cover;
    background-position: center;
    border: 1px solid #0fe474;
    margin: auto;
}

/* Control */
.control{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 18px 0 8px 0;
}
.control .btn{
    font-size: 20px;
    color: #666;
    padding: 18px;
}
.control .btn.active{
    color: var(--primary-color);
}
.control .btn-toggle-play{
    background-color: var(--primary-color);
    height: 62px;
    width: 62px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #f1dddd;
}
.progress {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
}


/* Playlist */

.playlist{
    margin-top: 414px;
    padding: 12px;
}
.song{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.song.active {
    background-color: var(--primary-color);
}   
.song:active {
    opacity: 0.8;
}
.song.active .option,
.song.active .author,
.song.active .title {
    color: #fff;
}
.thumb{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 0 8px;
}
.body{
    flex: 1;
    padding: 0 16px;
}
.body .title{
    font-size: 18px;
    color: var(--text-color);
}
.body .author{
    font-size: 12px;
    color: #999;
}
.option{
    padding: 16px 8px;
    color: #999;
    font-size: 18px;
}